<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API接口自动化系统</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</head>

<body>
<div class="container page-header" style="background: #99CCFF">
    <h1>API接口自动化管理系统
<!--        <small> —— by xjz</small>-->
    </h1>
</div>

<div class="container page-body">
    <div class="col-md-3" role="complementary">
        <div style="background: #888888">
            <h2>接口名称</h2>
            <h4><a href="#">接口1</a></h4>
            <h4><a href="#">接口2</a></h4>
            <h4><a href="#">接口3</a></h4>
            <h4><a href="#">接口4</a></h4>
            <h4><a href="#">接口5</a></h4>
            <h4><a href="#">接口6</a></h4>
        </div>
    </div>

    <div class="col-md-9" role="main">
        <div class="body-main">
            <div>
                <h3>接口1详情</h3>
                <p>
                本接口是登录接口，请输入用户名和密码本接口是登录接口
                </p>
            </div>
            <div>
                <h3>接口2详情</h3>
                <p>
                  “文章”的“章”字，是个会意字，从音从十。古代奏音乐，连奏十段才能结束（十，数之终也），这十段乐就是一章。所以，文章文章，也有段落。文章既从“音乐”里会意出来，应是用文字表达出来的东西，读起来如音乐一样美妙无穷、悦耳动听的文字，传诵开来，才配得上“文章”一词的真正含义。
                </p>
            </div>
        </div>
    </div>

</div>

</body>
</html>